{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> <!-- Link to external CSS file -->
</head>
<body>
    {% block content %}

    <table id="student-table">
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Location</th>
                <th>Hobby</th>
                <th>Course</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.first }}</td>
                <td>{{ student.last }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.location }}</td>
                <td>{{ student.hobby }}</td>
                <td>{{ student.course }}</td>
                <td>
                    <a href="{% url 'student-update' student.id %}" class="btn btn-edit">Edit</a>
                    <a href="{% url 'student-delete' student.id %}" class="btn btn-delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<div class="button-container">
    <button type="submit" class="btn btn-edit" style="background-color: blue;"  >Dowload CSV</button>
    <button type="submit" class="btn btn-edit" style="background-color: #3e8e41;">Add item</button>
</div>

    {% endblock content %}
</body>
</html>